.login-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  color: rgb(201, 198, 198);
  width: 80%;
  /* border: 1px solid white; */
  height: 100%;
}

.login-container .signUp-para {
  color: #676565;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

.login-container .login-footer a {
  color: black;
  cursor: pointer;
}

.login-container .form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: sans-serif;
  width: 100%;
}

.form>div {
  height: 50px;
  border-radius: 6px;
  background: rgba(106, 4, 98, 0.2);
}

.form>div:focus-within {
  border: 2px solid rgb(163, 158, 158);
}

.login-container .form input {
  padding: 8px;
  outline: none;
  width: 100%;
  border: none;
  border-radius: 6px;
  height: 100%;
  background: none;
  font-size: 18px;
  color: rgb(191, 185, 185);
  font-weight: 600;
}

.form input::placeholder {
  color: rgb(97, 95, 95);
  font-weight: bold;
  font-size: 18px;
}


.login-container .form p {
  color: red;
  font-size: 0.7rem;
  margin: 2px 0 8px 0;
}

.login-container .form .input-password {
  position: relative;
  width: 100%;
}

.login-container .form .input-password input {
  width: 90%;
}

.login-container .form .show-hide {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateX(-50%) translateY(-50%);
  filter: invert();
}

.login-container .form .submit-btn {
  background-color: rgb(90, 4, 109);
  color: white;
  font-size: 15px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
}

.login-container .divider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  height: 30px;
  width: 100%;
}

.divider .line {
  width: 100%;
  height: 1px;
  background-color: rgb(104, 102, 102);
}

.divider span {
  position: absolute;
  background-color: rgba(41, 7, 56, 1);
  padding: 0px 10px;
}

.login-container .login-other-way {
  display: flex;
  width: 100%;
  gap: 10px;
}

.login-container .login-other-way>div {
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(81, 79, 79);
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  flex: 1;
  height: 50px;
}

.login-container .login-other-way>div img {
  width: 20px;
  filter: invert();
}